---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
classes: wide
---

<br/>

  <div>
      <a href="/talkmap.html"><img src="../assets/images/globe.jpg" align="left" alt="" width="250"/></a>
      <p class="archive__item-excerpt"> See a <a href="/talkmap-complete.html">map based on my complete set of talks</a> from 2010</p>

{% if site.talkmap_link == true %}

        <p class="archive__item-excerpt"> Check the list of <a href="/tags/">talks per topic </a>:
<br/> <a href="/tags/#ai-workflows">AI workflows</a>
 / <a href="/tags/#data-management">Data management</a>
 / <a href="/tags/#hpc-applications">HPC applications</a>
 / <a href="/tags/#performance">Performance</a>
 / <a href="/tags/#scheduling">Scheduling</a>
 / <a href="/tags/#tutorial">Tutorial</a>
</p>

{% endif %}
</div>

<br/>
<p class="archive__item-excerpt"> Complete list of talks since 2023: </p>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}


